/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rest of app */

@layer utilities {
  .turn-white {
    -webkit-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(90deg) brightness(108%) contrast(101%);
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(90deg) brightness(108%) contrast(101%);
  }

  .header-projects {
    background-color: #FB408F;
    background-image: linear-gradient(45deg, #FB408F, #FAE937);
  }

  .header-blog-posts {
    background-color: #FE5A59;
    background-image: linear-gradient(45deg, #FE5A59, #8205FF);
  }
}

body {
  font-family: 'roboto';
}

h2 {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}